<div *ngFor="let message of messagesTo778">
  <span>Message to 778 {{message}}</span>
</div>

<br>
<br>

<div *ngFor="let message of messagesTo777">
  <span>Message to 777 {{message}}</span>
</div>

<br>
<br>
<br>
<br>

<input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage778()" />
<button (click)="sendMessage778()">Send to 778</button>

<br>
<br>

<input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage777()" />
<button (click)="sendMessage777()">Send to 777</button>
